@page "/adress"
@page "/adress/{HC}"
@inject Models.EmployeeContext DBContext
@inject NavigationManager UriHelper
@using FirstBlazorApp.Models
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@inject IJSRuntime JSRuntime
<h3>Component1</h3>
<div class="row" style='border-style: dotted;border-width: 1px'>
    <div class="col-lg-12  mb-3">

        <label for="province2">จังหวัด<a href='index.php?curr=edit'>เปลี่ยนจังหวัดเริ่มต้น</a></label>-->
        <MatSelect Label="จังหวัด" @bind-Value="@SelectProvinceId" TValue="string" Outlined="true" FullWidth>

            @foreach (var item in provinces1)
            {

                <MatOption TValue="string" Value="@item.province_id">@item.province_name_thai</MatOption>
            }


        </MatSelect>
        

        <div class="invalid-feedback">
            กรุณาเลือกตำบล
        </div>
    </div>









    <div class="col-lg-12  mb-3">
        <label for="district2">อำเภอ</label>
        <MatSelect Label="เลือกอำเภอ" @bind-Value="@SelectDistrictId" TValue="string" Outlined="true" FullWidth>



            @foreach (var item in districts)
            {
                if (item.district_id == recordSurveyProfile.AMP)
                {
                    districtId = item.district_id;
                }


                <MatOption TValue="string" Value="@item.district_id">@item.district_name_thai</MatOption>

            }

        </MatSelect>
        <div class="invalid-feedback">

            กรุณาเลือกอำเภอ
        </div>
    </div>




    <div class="col-lg-12  mb-3">
        <label for="subdist2">ตำบล </label>
        <input type="text" class="form-control" id="TMP" name="TMP" placeholder="--ตำบล--" value='<?php echo $row1->TMP?>' -->

        <MatSelect Label="เลือกอำเภอ" @bind-Value="@SelectTambonId" TValue="string" Outlined="true" FullWidth>



            @foreach (var item in tambons)
            {

                <MatOption TValue="string" Value="@item.tambon_id">@item.tambon_name_thai</MatOption>

            }

        </MatSelect>
        <div class="invalid-feedback">
            กรุณาเลือกตำบล
        </div>
    </div>
</div>

@*<EditForm Model="@personAdd">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-lg-12 control-section">
            <div class="control-wrapper">
                <div class="cascading">
                    <label class="example-label">Country</label>
                    <SfDropDownList TItem="province" TValue="string" PopupHeight="130px" Placeholder="Select a country" DataSource="@provinces1">
                        <DropDownListEvents TItem="province" TValue="string" ValueChange="ChangeCountry"></DropDownListEvents>
                        <DropDownListFieldSettings Text="province_name_thai" Value="province_id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                <div class="cascading">
                    <label class="example-label">State</label>
                    <SfDropDownList Enabled="@EnableStateDropDown" TValue="string" TItem="district" @bind-Value="@StateValue" Placeholder="Select a state" Query="@StateQuery" PopupHeight="130px" DataSource="@districts1">
                        <DropDownListEvents TItem="district" TValue="string" ValueChange="ChangeState"></DropDownListEvents>
                        <DropDownListFieldSettings Text="district_name_thai" Value="district_id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                <div class="cascading">
                    <label class="example-label">City</label>
                    <SfDropDownList Enabled="@EnableCitytDropDown" TValue="string" TItem="tambon" Height="250px" @bind-Value="@CityValue" Placeholder="Select a city" Query="@CityQuery" PopupHeight="130px" DataSource="@tambons1">
                        <DropDownListFieldSettings Text="tambon_name_thai" Value="tambon_id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>
        </div>
    </EditForm>


        <style>
            .control-wrapper {
                margin: 0 auto;
                padding: 10px 0px 0px;
            }

            .example-label {
                font-size: 14px;
                margin-bottom: 6px;
            }

            .control-wrapper .cascading {
                padding: 30px 0px 0px;
            }
        </style>
        @code {
            public bool EnableStateDropDown = false;
            public bool EnableCitytDropDown = false;
            public string StateValue { get; set; } = null;
            public Query StateQuery { get; set; } = null;
            public string CityValue { get; set; } = null;
            public Query CityQuery { get; set; } = null;
            private async void ChangeCountry(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, province> args)
            {
                districts1 = await DBContext.GetByIndex<int?, district>("district",Int16.Parse( args.Value), 0, "province_id", false);
                this.EnableStateDropDown = !string.IsNullOrEmpty(args.Value);
                this.EnableCitytDropDown = false;
                this.StateQuery = new Query().Where(new WhereFilter() { Field = "province_id", Operator = "equal", value = args.Value, IgnoreCase = false, IgnoreAccent = false });
                this.StateValue = null;
                this.CityValue = null;
            }
            public void ChangeState(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, district> args)
            {
                this.EnableCitytDropDown = !string.IsNullOrEmpty(args.Value);
                this.CityQuery = new Query().Where(new WhereFilter() { Field = "StateId", Operator = "equal", value = args.Value, IgnoreCase = false, IgnoreAccent = false });
                this.CityValue = null;
            }

        }*@

